.search_form_container {
  margin: 0;
  flex: 0 1 33%;
  padding: 1em;
}
.search_form{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .input_wrapper label{
     color: wheat;
  }

  #name_input{
  padding: .5em;
  width: 50%;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  margin-top: 10px;
  -webkit-appearance: none;
  }
  #name_input {
    transition: width 0.4s ease-in-out;
  }
  
  #name_input:focus {
    width: 70%;
  }
  
  #type_input{
    padding: 10px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  color: white;
  font-size: 20px;
  }
  #type_input:hover {
  opacity: 1;
  }
  .input_wrapper {
    font-size: 20px;
  }

  .search_btn {
    padding: 0.8em;
    margin-left: 10px;
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 15px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    margin-top: 10px;
    transition: ease-in-out 400ms;
  }

  .search_btn:hover {
    background-color: aliceblue;
    color: dodgerblue;
  }

  @media(max-width: 790px) {
    .search_form_container {
      flex: 1 1 100%;
    }
 }