.link_container {
  width: 19%;
  height: 110%;
  overflow: hidden;
  text-align: center;
  float: left;
}

.recent_container {
  margin-left: 0px;
  flex-wrap: wrap;
  margin-top: 35px;
  display: flex;
  align-items: center;
  }
.recent_info  {
  overflow: hidden;
  border-radius: 35px;
}

  .recent_info img {
    width: 80%;
    height: 50%;
    margin-top: 20px;
    border-radius: 25px;
  }
  .recent_heading {
    text-align: center;
    flex: 1 1 100%;
  }