.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
      overflow: hidden;
      background: burlywood;
      margin-top: 20px;
      border-radius: 20px;
  }
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 22px;
    padding: 15px;
  }
  .input_wrapper {
    width: 100%;
    height: 100%;
      display: grid;
      justify-content: center;
  }
  .input_holder {
    width: 100%;
    margin-bottom: 20px;
  }
  .select_holder {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .input_holder input{
    width: 500px;
  }
  .uploadInput{
  width: 50%;
position: relative;
left: 34%;
  }
  .img_preview {
    width: 400px;
  }
  .label_holder {
    margin-bottom: 20px;
  }
  .form_field {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  #submit_btn {
    background: beige;
    padding: 1.7em;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    transition: ease-in 0.2s;
    cursor: pointer;
  }
  #submit_btn:hover {
    background: gold;
  }
  
  .label {
    text-align: center;
display: block;
margin-top: 15px;
color: white;
  }

  .publType {
    display:none
  }

  .form_btns_holder {
    width: 100%;
    display: flex;
}

  .cancel_edit_btn {
    color: crimson;
    font-size: 20px;
    background: blanchedalmond;
    padding: 33px;
    border-radius: 17px;
  }

  .cancel_edit_btn:hover {
    background: gold;
  }

  
  .form_field{
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  .form_field:focus {
    outline: 3px solid gold;
  }
  
  @media (min-width: 400px) {
    .form {
      overflow: hidden;
    }
  
    .label {
      float: left;
      width: 300px;
      font-size: 23px;
    }
  
    .form_field {
      float: left;
      width: calc(100% - 200px);
      font-size: 18px;
    }
  
    #submit_btn  {
      width: calc(100% - 200px);
     margin: 5% 20%;
    }
  }
  .description {
    padding: 20px;
    width: 500px;
    margin: 8px 0px;
    font-size: 18px;
  }
  .description:focus{
    outline: 3px solid gold;
  }

  .select_type {
    margin: 10px 0px 20px 0px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    background: black;
    color: wheat;
    font-size: 22px;
  }

  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  h2:hover {
    cursor:pointer
  }  